extends layout

block content
    h1 Cosmic Explorer DCC OAuth2 Login
    if error
        p.
            #{error}

    p.
        Got authenticated Shibboleth request from ePPN #{eppn}. Click Log in to continue.

    form(action="/login",method="POST")
        input(type="hidden",name="_csrf",value=csrfToken)
        input(type="hidden",name="challenge",value=challenge)
        input(type="hidden",name="eppn",value=eppn)
        input(type="checkbox",id="remember",name="remember",value="1")
        label(for="remember") Remember me
        br
        input(type="submit",id="accept",value="Log in")
